{% extends 'layout.html' %}

{% block head -%}
<style>
body {
    background-color: #000;
    color: #fff;
}
/*video {
    position: fixed;
    width: auto;
    height: auto;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}*/
main h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 100;
}
main p {
    line-height: 32px;
    margin-top: 12px;
}
.masthead {
    background-image: url(/static/img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.container {
    position: absolute;
    right: auto;
    left: 80px;
}
.mockup {
    display: table-cell;
    vertical-align: middle;
}

/*.blur {
    background: inherit;
}
.blur:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    -webkit-filter: blur(10px) saturate(2);
    -moz-filter: blur(10px) saturate(2);
    filter: blur(10px) saturate(2);
    filter: url(/static/img/filters.xml#blur_saturate);
}*/

a:link,
a:visited {
    color: #fff;
}

a.btn {
    display: inline-block;
    padding: 10px;
    line-height: 1;
}
a.btn.disabled {
    opacity: .3;
    cursor: default;
}
a.btn.disabled:hover,
a.btn.disabled:focus,
a.btn.disabled:active {
    opacity: .3;
}
a.btn img,
a.btn span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}
a.btn img {
    width: 35px;
    height: 35px;
}
a.btn span {
    padding-left: 10px;
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 15px;
    }
    main h1 {
        font-size: 50px;
    }
    main p {
        font-size: 23px;
    }
    .container {
        left: 15px;
    }
    a.btn img {
        width: 25px;
        height: 25px;
    }
}
</style>
{%- endblock %}

{% block content -%}
<div class="masthead">
    <div class="container">
        <main>
            <h1>HungryKid</h1>
            <p>おいしいごはんを食べよう。</p>
            <ul>
                <li>
                    <a href="javascript:void(0);" class="btn disabled">
                        <img src="/static/img/login.png" alt="iOS App">
                        <span>iOS App</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="btn disabled">
                        <img src="/static/img/login.png" alt="Android App">
                        <span>Android App</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('login') }}" class="btn">
                        <img src="/static/img/login.png" alt="Web (Facebook Login)">
                        <span>Web (Facebook Login)</span>
                    </a>
                </li>
            </ul>
        </main>

        <div class="mockup">
            <img src="/static/img/mockup.png" width="216" height="600">
        </div>
    </div>

    <!-- <div class="blur"></div>
    <video id="video" poster="/static/img/bg.jpg" muted>
        <source src="/static/video/bg.mp4">
        <source src="/static/video/bg.webm">
    </video> -->
</div>
{%- endblock %}

{% block beforebody -%}
<script>
// (function(){
//     'use strict';
//
//     var $video = document.querySelector('#video');
//
//     $video.addEventListener('loadedmetadata', function() {
//         $video.style.opacity = 1;
//         $video.play();
//     }, false);
//
//     $video.addEventListener('ended', function() {
//         $video.style.opacity = 0;
//     }, false);
//
// })();
</script>
{%- endblock %}
