{% extends 'layout.html' %}

{% block head -%}
<style>
body {
    background-color: #000;
    color: #fff;
}
main h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 100;
}
main p {
    line-height: 32px;
    margin-top: 12px;
}
.masthead {
    background-image: url(/static/img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.container {
    position: absolute;
    right: auto;
    left: 80px;
}
.mockup {
    display: table-cell;
    vertical-align: middle;
}
a:link,
a:visited {
    color: #fff;
}

a.btn {
    display: inline-block;
    padding: 10px;
    line-height: 1;
}
a.btn.disabled {
    opacity: .3;
    cursor: default;
}
a.btn.disabled:hover,
a.btn.disabled:focus,
a.btn.disabled:active {
    opacity: .3;
}
a.btn img,
a.btn span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}
a.btn img {
    width: 35px;
    height: 35px;
}
a.btn span {
    padding-left: 10px;
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 23px;
    }
    main h1 {
        font-size: 50px;
    }
    .container {
        left: 15px;
    }
    a.btn img {
        width: 30px;
        height: 30px;
    }
}
</style>
{%- endblock %}

{% block content -%}
<div class="masthead">
    <div class="container">
        <main>
            <h1>HungryKid</h1>
            <p>おいしいごはんを食べよう。</p>
            <ul>
                <li>
                    <a href="//itunes.apple.com/us/app/hungrykid/id969098291?l=ja&ls=1&mt=8" class="btn">
                        <img src="/static/img/login.png" alt="iOS App">
                        <span>iOS App</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="btn disabled">
                        <img src="/static/img/login.png" alt="Android App">
                        <span>Android App</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('login') }}" class="btn">
                        <img src="/static/img/login.png" alt="Web (Facebook Login)">
                        <span>Web</span>
                    </a>
                </li>
            </ul>
        </main>

        <div class="mockup">
            <img src="/static/img/mockup.png" width="216" height="600">
        </div>
    </div>
</div>
{%- endblock %}

{% block beforebody -%}
{%- endblock %}
