{% extends 'layout.html' %}

{% block head -%}
<style>
body {
    color: #fff;
    background-color: #ff9933;
}
li {
    display: inline-block;
    margin-right: 10px;
}
li:last-child { margin-right: 0; }
a:link { color: #fff; }
a:visited { color: #fff; }
a:hover { color: #fff; }
a:active { color: #fff; }
a.btn {
    display: block;
    width: 300px;
    height: 100px;
    color: #ff9933;
    font-size: 26px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 4px;
}
a.btn.disabled {
    background-color: #ddd;
    cursor: default;
}
a.btn span {
    font-size: 20px;
    font-weight: 200;
}
</style>
{%- endblock %}

{% block content -%}
HungryKid

<main>
    <h2>Good food makes your life better.</h2>
    <ul>
        <li><a href="javascript:void(0);" class="btn disabled"><span>Download it from</span><br>App Store</a></li><!--
        --><li><a href="javascript:void(0);" class="btn disabled"><span>Download it from</span><br>Google Play</a></li><!--
        --><li><a href="{{ url_for('login') }}" class="btn"><span>Facebook</span><br>Login</a></li>
    </ul>
</main>
{%- endblock %}
