{% extends 'layout.html' %}

{% block head -%}
<style>
label {
    cursor: pointer;
}
[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: inset 0px 0px 0px 1px #e6e6e6;
    border: 1px solid #ddd;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    height: 31px;
    padding: 1px;
    position: relative;
    margin: 0px;
    width: 52px;
    outline: 0;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    background: #fff;
}
[type=checkbox]:checked {
    box-shadow: inset 0px 0px 0px 20px #16c66d;
}
[type=checkbox]:after {
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    content: '';
    cursor: pointer;
    height: 29px;
    position: absolute;
    width: 29px;
    -webkit-transition: all 0.1s ease-in 0.1s;
    -o-transition: all 0.1s ease-in 0.1s;
    transition: all 0.1s ease-in 0.1s;
    background: #fff;
}
[type="checkbox"]:checked:after {
    left: 22px;
}

#loader {
    display: none;
    width: 20px;
    height: 20px;
    background-image: url(/static/img/loading.gif);
    background-size: 20px 20px;
}
#loader.show {
    display: inline-block;
}
</style>
{%- endblock %}

{% block content -%}
Welcome to<br>HungryKid !

<main>
    <p>
        <label for="subscribe">Subscribe kondate</label><br>
        <input type="checkbox" name="subscribe" value="true" id="subscribe">
        <span id="loader"></span>
    </p>

    <p>
        <a href="{{ url_for('logout') }}" class="btn">Logout</a>
    </p>
</main>
{%- endblock %}

{% block beforebody -%}
<script>
(function(){
    'use strict';

    var $loader = document.querySelector('#loader'),
        $subscribe = document.querySelector('#subscribe');

    function showLoader() {
        $loader.classList.add('show');
    }

    function hideLoader() {
        $loader.classList.remove('show');
    }

    function changeSetting() {
        showLoader();
        console.log({ 'subscribe': $subscribe.checked });
        hideLoader();
    }

    $subscribe.addEventListener('change', changeSetting);
})();
</script>
{%- endblock %}
