{% extends 'layout.html' %}

{% block head -%}
<style>
label {
    cursor: pointer;
}
[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: inset 0px 0px 0px 1px #e6e6e6;
    border: 1px solid #ddd;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    height: 31px;
    padding: 1px;
    position: relative;
    margin: 0px;
    width: 52px;
    outline: 0;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    background: #fff;
}
[type=checkbox]:checked {
    box-shadow: inset 0px 0px 0px 20px #16C66D;
}
[type=checkbox]:after {
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    content: '';
    cursor: pointer;
    height: 29px;
    position: absolute;
    width: 29px;
    -webkit-transition: all 0.1s ease-in 0.1s;
    -o-transition: all 0.1s ease-in 0.1s;
    transition: all 0.1s ease-in 0.1s;
    background: #fff;
}
[type="checkbox"]:checked:after {
    left: 22px;
}
</style>
{%- endblock %}

{% block content -%}
Welcome to<br>HungryKid !

<main>
    <p>
        <label for="subscribe">Subscribe kondate</label><br>
        <input type="checkbox" name="subscribe" value="true" id="subscribe">
    </p>
    <p>
        <a href="{{ url_for('logout') }}" class="btn">Logout</a>
    </p>
</main>

<script type="text/javascript">
    if (window.location.hash && window.location.hash == '#_=_') {
        if (window.history && history.pushState) {
            window.history.pushState("", document.title, window.location.pathname);
        } else {
            var scroll = {
                top: document.body.scrollTop,
                left: document.body.scrollLeft
            };
            window.location.hash = '';
            document.body.scrollTop = scroll.top;
            document.body.scrollLeft = scroll.left;
        }
    }
</script>
{%- endblock %}
